{% extends "encyclopedia/layout.html" %}
{% block title %}
    Create New Page
{% endblock %}

{% block body %}
   <h1>New Page</h1>
   <form action = "{% url 'edit' %}" method = "POST">
        {% csrf_token %}
        Title: 
        {{ title }}
        <input type = "hidden" name = "entry" value = "{{ title }}">
        <div style = "margin: 10px;"></div>
        Content:
        <div style = "margin: 5px;"></div>
        <textarea style = "width: 50%; height: 50%;" name = "content" rows = "20">
            {{ content }}
        </textarea>
        <div style = "margin: 5px;"></div>
        <input type = "submit" class="btn btn-secondary" value = "SAVE">
   </form>
{% endblock %}